html {
  font-size: 10px;
  height: 100%;
}

body {
  height: 100%;
  background: $background-color;
  /*background-image: url(assets/images/background-img.png);*/
  font-size: 25px;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

.main__wrapper {
  width: 100%;
}
