.header__wrapper {
  padding: 15px 15px 0;
}

.title {
  text-align: center;
  margin: 0 0 15px 0;
  font-family: $font-page;
  font-size: 4rem;
  text-shadow: 1px 1px 2px white, 2px 2px 3px rgb(0, 0, 0);
}
