.letter {
  display: flex;
  //align-items: flex-end;
  justify-content: center;
  background-image: url(assets/images/paper.png);
  filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 900px;
  height: 300px;
  padding: 43px 10px 20px;
  margin: 0 0 15px 0;
}
.letter__container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: calc(100% - 30px);
}

.letter__input {
  box-sizing: border-box;
  font-family: $font-letter;
  //text-align: center;
  font-size: 2.5rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  resize: none;
  background-color: transparent;
  border-color: transparent;
  //margin: 43px 0 0 0;
  &:focus {
    outline: none;
  }
}
